<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials :: head ('Delete Property')">
</head>
<body class="main-container main-bg">
<nav th:replace="partials :: navbar"></nav>
<main class="container">
  <h3 class="delete-prop-confirm">Are you sure you wish to delete this property?</h3>
  <h3 th:text="${prop.street_add}"></h3>
  <form th:action="@{'/props/' + ${prop.id} + '/delete'}" method="post">
    <input type="hidden" th:value="${prop.id}" name="prop-id"/>
    <button type="submit" class="btn nav-bg warn-delete">Yes</button>
    <a th:href="@{'/props/' + ${prop.id}}" class="footer-bg btn no-delete">No</a>
  </form>
</main>
<footer th:replace="partials :: footer"></footer>
<div th:replace="partials :: boot-scripts"></div>
</body>
</html>