<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head ('PropertyConnects')"></head>
<body class="main-bg main-container">
<nav th:replace="partials :: navbar"></nav>
<main class="container">
    <h1 class="welcome-message">Welcome back!</h1>
    <div class="login-error" th:if="${param.error}">
        Invalid Username and Password. Please try again.
    </div>
    <div th:if="${param.logout}">
        You have been logged out.
    </div>

    <form th:action="@{/login}" method="post">
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input id="username" name="username" type="text" class="form-control" />
            <label for="password" class="form-label">Password</label>
            <input id="password" name="password" type="password" class="form-control" />
        </div>
        <input  class="btn footer-bg w-100" type="submit" value="Log In" />
    </form>
</main>
<footer th:replace="partials :: footer"></footer>
<div th:replace="partials :: boot-scripts"></div>
</body>
</html>
