<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head ('Profile Page')"></head>
<body class="main-bg main-container">
<nav th:replace="partials :: navbar"></nav>
<main class="container">
    <h1>My Profile</h1>
    <h2 th:text="|Hello, ${#authentication.principal.username}!|"></h2>
    <h3 th:text="|Email: ${#authentication.principal.email}|"></h3>
    <h3 th:text="|User ID: ${#authentication.principal.id}|"></h3>

    <a th:href="@{/profile/edit}" class="text-links">Edit Profile</a>

    <!--Edit profile button here (below profile details). -->


    <form th:action="@{/logout}" th:method="post">
        <button class="btn-link btn" style="margin-top: 8px">Logout</button>
    </form>

<!--    How to bring in carousel of properties here? This should come from Wyatt's properties page that he is currently working on-->

    <div th:each="prop : ${props}">
        <a th:href="@{/props/{id} (id = ${prop.id})}"><h1 th:text="${prop.street_add}"></h1></a>
        <p th:text="${prop.category}"></p>
        <p><img  th:src="${prop.image_url}" alt="control" width="200" height="200"></p>
    </div>

</main>
<footer th:replace="partials :: footer"></footer>
<div th:replace="partials :: boot-scripts"></div>
</body>
</html>
