<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head ('Profile Page')"></head>
<body class="main-bg main-container">
<nav th:replace="partials :: navbar"></nav>
<main class="container">
    <h1>My Profile</h1><br>

<!--    <h3 th:text="|Email: ${#authentication.principal.email}|"></h3>-->
<!--    <h3 th:text="|User ID: ${#authentication.principal.id}|"></h3>-->

<!--    <a th:href="@{/profile/edit}" class="text-links">Edit Profile</a>-->
<!--    <a th:href="@{/props/create}" class="text-links">Create Property</a>-->

    <!--    start of profile details within card:-->
    <div class="card-container">
        <div class="card profile-card">
            <h2 class="card-header greeting" th:text="|Hello, ${#authentication.principal.username}!|"></h2>
            <p class="profile-email" th:text="|Email: ${#authentication.principal.email}|"></p>
            <!--put edit profile and create property buttons next to each other -->
            <a th:href="@{/profile/edit}" class="btn btn-primary">Edit Profile</a>

        </div>
    </div><br>

    <!--        <button th:href="@{/props/create}" class="text-links">Create Property</button>-->
    <a th:href="@{/props/create}" class="btn btn-primary">Create Property</a>

<!--&lt;!&ndash;this is code for each individual property&ndash;&gt;-->
<!--    <div th:each="prop : ${props}">-->
<!--        <div th:if="${#authentication.principal.id == prop.user.id}">-->
<!--            <a th:href="@{/props/{id} (id = ${prop.id})}"><h1 th:text="${prop.street_add}"></h1></a>-->
<!--            <p th:text="${prop.category}"></p>-->
<!--            <p><img th:src="${prop.image_url}" alt="control" width="200" height="200"></p>-->
<!--        </div>-->
<!--    </div>-->

<!--    combined code - in testing now - figure out authorization error-->
    <div class="col" th:each="prop : ${props}">

        <div class="card-container">
            <div class="card profile-card">
                <div class="row">

                    <div th:if="${#authentication.principal.id == prop.user.id}">
                        <h2 class="card-header" th:text="|Property Category: ${prop.category}|"></h2>
                        <a th:href="@{/props/{id} (id = ${prop.id})}"><p th:text="${prop.street_add}"></p></a>
                        <p>
                            <img th:src="${prop.image_url}" alt="control" width="200" height="200">
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>

</main>
<footer th:replace="partials :: footer"></footer>
<div th:replace="partials :: boot-scripts"></div>

</body>
</html>

