<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head ('Profile Page')"></head>
<body class="main-bg main-container">
<nav th:replace="partials :: navbar"></nav>
<main class="container">
    <h1>My Profile</h1>

<!--    <h3 th:text="|Email: ${#authentication.principal.email}|"></h3>-->
<!--    <h3 th:text="|User ID: ${#authentication.principal.id}|"></h3>-->

<!--    <a th:href="@{/profile/edit}" class="text-links">Edit Profile</a>-->
<!--    <a th:href="@{/props/create}" class="text-links">Create Property</a>-->

    <!--    this code is an example below-->
<!--    <button th:href="@{/props/{id}/edit(id=${prop.id})}" class="text-links btn">Edit Property</button>-->

<!--    <button th:href="@{/props/{id}/delete(id=${prop.id})}" class="text-links btn">Delete Property</button>-->
    <!--    end example code-->

<!--    start of my code in a card:-->
    <div class="card profile-card">
        <h2 class="card-header greeting" th:text="|Hello, ${#authentication.principal.username}!|"></h2>
        <p class="profile-email" th:text="|Email: ${#authentication.principal.email}|"></p>
        <!--put edit profile and create property buttons next to each other -->
        <a th:href="@{/profile/edit}" class="btn btn-primary">Edit Profile</a>
<!--        <button th:href="@{/props/create}" class="text-links">Create Property</button>-->
        <a th:href="@{/props/create}" class="btn btn-primary">Create Property</a>

    </div>

<!--    How to bring in carousel of properties here?-->

    <div th:each="prop : ${props}">
        <div th:if="${#authentication.principal.id == prop.user.id}">
        <a th:href="@{/props/{id} (id = ${prop.id})}"><h1 th:text="${prop.street_add}"></h1></a>
        <p th:text="${prop.category}"></p>
        <p><img th:src="${prop.image_url}" alt="control" width="200" height="200"></p>
        </div>
    </div>

</main>
<footer th:replace="partials :: footer"></footer>
<div th:replace="partials :: boot-scripts"></div>
</body>
</html>
