.main-bg {
    background: #ffffff;
    color: #2B2118;
}

.main-container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
}


* {
    font-family: 'Josefin Sans', sans-serif;
}


.btn {
    border-radius: 0;
    background-color: #b5e2fa;
    border: 1px solid #b5e2fa;
    margin: 5px;
}


.btn:hover {
    background-color: #FCA311;;
    border: 1px solid #FCA311;;
}


a.nav-link {
    color: black;
    font-size: 18px;
    margin: 5px;
    padding: 6px 12px;
}


a.nav-link:hover {
    color: #FCA311;
}

/*.container h1, .text-center {*/
/*    text-align: center;*/
/*    margin: 20px;*/
/*}*/

.container-home {
    margin: auto;
    border: 2px solid #b5e2fa;
    padding: 10px;
}

/*this is not appearing on page, will need to modify the elements targeted?*/
.container {
    font-size: 18px;
    color: black;
}

/*this next section turns the nav links into hamburger menu on screens less than 500px -- see if we like this*/
/*@media screen and (max-width: 500px) {*/
/*    .navbar a {*/
/*        float: none;*/
/*        display: block;*/
/*        width: 100%;*/
/*        text-align: left;*/
/*    }}*/

.navbar {
    background-color: #ffffff;
}

h1, h3 {
    font-weight: normal;
    text-align: center;
    color: #118ab2;
    text-underline: none;
}


.text-center {
    background: #ffffff;
    margin: 0;
}


input {
    padding: 6px 12px;
    border-radius: 0;
    border: 1px solid black;
}


ul {
    padding-top: 30px;
}

/*@media (min-width: 992px){*/
/*    .navbar li {*/
/*        margin-left : 1em;*/
/*        margin-right : 1em;*/
/*    }*/
/*}*/

/*.nav {*/
/*    list-style-type: none;*/
/*    padding: 0;*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: space-around;*/
/*    flex-wrap: nowrap; !* assumes you only want one row *!*/
/*}*/

.card {
    float: none;
    margin: 0 auto 10px;
    display: inline-flex;
    flex-wrap: nowrap;
}

/*@media screen and (min-width: 40em) {*/
/*    .cards {*/
/*        display: flex;*/
/*        flex-wrap: wrap;*/
/*        justify-content: space-between;*/
/*    }*/
/*    .card {*/
/*        flex: 0 1 calc(50% - 1em);*/
/*    }*/
/*}*/

i {
    font-size: 35px;
    color: black;
    padding: 7px;
}

/*.nav {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*}*/

.navbar-collapse {
    justify-content: center;
}

.navbar-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

#category {
    padding: 5px 10px 5px 10px;
}

a {
    text-decoration: none;
    color: #118ab2;
}

h2 {
    color: #118ab2;
}

a:hover {
    color: #FCA311;
}

.form-label {
    padding-top: 10px;
}

.card-body > p {
    padding: 0;
}

#wxTempWarning {
    color: #D22B2B;
}

img {
    padding: 15px;
}

.card p {
    padding: 0 20px;
}

.address-header {
    text-align: center;
    font-weight: bold;
}

#logout {
    border: 0;
    background-color: #ffffff;
    color: black;
    font-size: 18px;
}

#logout:hover {
    color: #FCA311;
}

.card {
    box-shadow: 0px 0px 0px grey;
    -webkit-transition:  box-shadow .6s ease-out;
    box-shadow: .5px .5px 1.5px grey;
}

.card:hover{
    box-shadow: 1px 8px 20px grey;
    -webkit-transition:  box-shadow .6s ease-in;
}

.prop-card {
    height: 550px;
    width: 400px;
    padding: 0;
    margin: 20px;
    border-radius: 0;
}

.card img {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 200px;
}

.greeting {
    text-align: center;
}

.text-links {
    border-radius: 0;
    background-color: #b5e2fa;
    border: 1px solid #b5e2fa;
    margin: 5px;
}

.text-links:hover {
    background-color: #FCA311;;
    border: 1px solid #FCA311;;
}


.profile-card {
    box-shadow: 0px 0px 0px grey;
    -webkit-transition:  box-shadow .6s ease-out;
    box-shadow: .5px .5px 1.5px grey;
}

.profile-card {
    height: 250px;
    width: 700px;
    padding: 0;
    /*margin: 20px;*/
    border-radius: 0;
    margin: 0 auto;
}

.profile-email {
    margin-top: 20px;
}
