<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">-->
<!--<head th:replace="partials :: head ('Delete Note')">-->
<!--</head>-->
<!--<body class="main-container main-bg">-->
<!--<nav th:replace="partials :: navbar"></nav>-->
<!--<main class="container">-->
<!--  <h1>Are you sure you wish to delete this note?</h1>-->
<!--  <h2 th:text="|Note: ${notes.title}|"></h2>-->
<!--  <form th:action="@{'/notes/' + ${notes.id} + '/delete'}" method="post">-->
<!--    <input type="hidden" th:value="${notes.id}" name="note-id"/>-->
<!--    <button type="submit" class="btn nav-bg">Yes</button>-->
<!--    <a th:href="@{'/notes/' + ${notes.id}}" class="footer-bg btn">No</a>-->
<!--  </form>-->
<!--</main>-->
<!--<footer th:replace="partials :: footer"></footer>-->
<!--<div th:replace="partials :: boot-scripts"></div>-->
<!--</body>-->
<!--</html>-->
