<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head('Create Notes')"></head>
<body class="main-bg main-container">
<nav th:replace="partials :: navbar"></nav>
<main class="container">

  <h1>Create a Note for this Property</h1>
  <form th:action="@{/notes/edit}" th:method="post" th:object="${notes}">
    <div class="form-group">
      <label for="category">category</label>
      <input id="category" name="category" class="form-control" type="text" th:field="*{category}">
    </div>
    <div class="form-group">
      <label for="title">title</label>
      <textarea id="title" name="title" class="form-control" type="text" th:field="*{title}" ></textarea>
    </div>
    <div class="form-group">
      <label for="body">body</label>
      <input id="body" name="body" class="form-control" type="text" th:field="*{body}">
    </div>
    <input type="hidden" name="noteId" th:value="${notes.id}">
    <input type="submit" class="btn btn-block btn-primary">
  </form>
</main>
<footer th:replace="partials :: footer"></footer>
<div th:replace="partials :: boot-scripts"></div>

</body>
</html>