<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{partials :: head ('Viewing all Notes')}">
  <title>All Properties</title>
</head>
<body class="main-bg main-container">
<nav th:replace="~{partials :: navbar}"></nav>
<main class="container">
<!--  <div th:each="note : ${notes}">-->
<!--    <a th:href="@{/notes/{id} (id = ${note.id})}"><h1 th:text="${note.title}"></h1></a>-->
<!--    <p th:text="|Body: ${note.body}|"></p>-->
<!--    <p th:text="|Category: ${note.category}|"></p>-->
<!--    <p th:text="|Zip: ${note.property.zip}|"></p>-->
<!--  </div>-->


  <div class="col" th:each="note : ${notes}">
    <div class="card-container">
      <div class="card profile-card">
        <div class="row">
          <h4 class="card-header" th:text="|Note Category: ${note.category}|"></h4>
          <a class="comm-note-anchor" th:href="@{/notes/{id} (id = ${note.id})}"><h5 th:text="${note.title}"></h5></a>
          <p th:text="|Body: ${note.body}|"></p>
<!--          <p th:text="|Category: ${note.category}|"></p>-->
          <p th:text="|Zip: ${note.property.zip}|"></p>
        </div>
      </div>
    </div>
  </div>




</main>
<footer th:replace="~{partials :: footer}"></footer>
<div th:replace="~{partials :: boot-scripts}"></div>
</body>
</html>