<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head ('Viewing a Note')">
  <title>Note</title>
</head>
<body class="main-bg main-container">
<nav th:replace="partials :: navbar"></nav>
<main class="container">
  <div>
    <h1 th:text="${notes.title}"></h1>
    <p th:text="${notes.body}"></p>
    <p th:text="${notes.category}"></p>
    <p th:text="${notes.property.zip}"></p>
    <p th:text="${notes.property.city}"></p>
    <p th:text="${notes.property.state}"></p>
  </div>
<!--  <a th:href="@{/notes/{id}/edit(id=${notes.id})}" class="text-links">Edit Note</a>-->


</main>
<footer th:replace="partials :: footer"></footer>
<div th:replace="partials :: boot-scripts"></div>
</body>
</html>