<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head ('About')"></head>
<body class="main-bg main-container">
<nav th:replace="partials :: navbar"></nav>
<main class="container">
    <h1>About Us</h1>
<!--Wyatt's card-->
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Wyatt DeRamus</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <div class="card-body">
            <a href="https://www.linkedin.com/in/wyattderamus/" class="card-link"><i class="fa-brands fa-linkedin"></i></a>
            <a href="#" class="card-link"><i class="fa-brands fa-github"></i></a>
            <a href="#" class="card-link"><i class="fa-regular fa-envelope"></i></a>
            <a href="#" class="card-link"><i class="fa-solid fa-user-graduate"></i></a>
        </div>
    </div>

    <!--Nicole's card-->
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Nicole Sweeden</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <div class="card-body">
            <a href="https://www.linkedin.com/in/nicole-sweeden/" class="card-link"><i class="fa-brands fa-linkedin"></i></a>
            <a href="#" class="card-link"><i class="fa-brands fa-github"></i></a>
            <a href="#" class="card-link"><i class="fa-regular fa-envelope"></i></a>
            <a href="#" class="card-link"><i class="fa-solid fa-user-graduate"></i></a>
        </div>
    </div>

    <!--Ernesto's card-->
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Ernesto Villegas</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <div class="card-body">
            <a href="https://www.linkedin.com/in/villegasern/" class="card-link"><i class="fa-brands fa-linkedin"></i></a>
            <a href="" class="card-link"><i class="fa-brands fa-github"></i></a>
            <a href="#" class="card-link"><i class="fa-regular fa-envelope"></i></a>
            <a href="#" class="card-link"><i class="fa-solid fa-user-graduate"></i></a>
        </div>
    </div>

</main>
<footer th:replace="partials :: footer"></footer>
<div th:replace="partials :: boot-scripts"></div>
</body>
</html>