<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head('Weather')"></head>

<!--https://docs.mapbox.com/mapbox-search-js/tutorials/add-address-autofill-to-your-website/#set-up-autocomplete-tags-->
<!--  <script-->
<!--          id="search-js"-->
<!--          defer-->
<!--          src="https://api.mapbox.com/search-js/v1.0.0-beta.14/web.js"-->
<!--  >-->
<!--  </script>-->
<!--  <script>-->
<!--    const script = document.getElementById('search-js');-->
<!--    script.onload = function() {-->
<!--      mapboxsearch.autofill({-->
<!--        accessToken: "APIKEY"-->
<!--      });-->
<!--    };-->
<!--  </script>-->

<body class="main-bg main-container">
<nav th:replace="partials :: navbar"></nav>

<h1>SATX Weather</h1>

<div>
  <h3>Current Conditions</h3>
  <p th:text="${currentWeather.description}">Description</p>
<!--              <p id="icon" th:text="${currentWeather.description}">Description</p>-->
<!--              <p id="wxIcon"></p>-->
  <h3>Temperature</h3>
  <p th:text="${currentWeather.temperature} + ' &#8457;'">Temperature</p>
  <h3>Feels Like</h3>
  <p th:text="${currentWeather.feelsLike} + ' &#8457;'">Feels Like</p>
  <h3>Wind Speed</h3>
  <p th:text="${currentWeather.windSpeed} + ' mph'"></p>
</div>

<p id="results1"></p>
<p id="results2"></p>
<p id="results3"></p>

<form>
  <input
          name="address" placeholder="Address" type="text"
          autocomplete="address-line1"
  />
  <input
          name="apartment" placeholder="Apartment number" type="text"
          autocomplete="address-line2"
  />
  <input
          name="city" placeholder="City" type="text"
          autocomplete="address-level2"
  />
  <input
          name="state" placeholder="State" type="text"
          autocomplete="address-level1"
  />
  <input
          name="country" placeholder="Country" type="text"
          autocomplete="country"
  />
  <input
          name="postcode" placeholder="Postcode" type="text"
          autocomplete="postal-code"
  />
</form>

<footer th:replace="partials :: footer"></footer>
<div th:replace="partials :: boot-scripts"></div>
<!-- Jquery JS -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

<!-- Custom JS-->
<script src="js/main.js"></script>

</body>
</html>