<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head ('Home Page')"><title></title></head>
<body class="main-bg main-container">
<nav th:replace="partials :: navbar"></nav>
<main class="container">
  <h1>PropertyConnects</h1>
  <h3>
    A centralized space where you can see your properties, get weather and maintenance information specific to your area. In addition,  provides a space where neighbors can receive trusted information and give and get help.
  </h3>
</main>
<footer th:replace="partials :: footer"></footer>
<div th:replace="partials :: boot-scripts"></div>
</body>
</html>