<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<head th:replace="partials :: head ('Home Page')"><title></title></head>-->
<!--<body id="home" class="main-bg main-container">-->

<head th:replace="partials :: head ('Home Page')">
    <title></title>
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
</head>
<body class="main-bg main-container">
<nav th:replace="partials :: navbar"></nav>

<main class="container-home">
    <div class="proj-description">
    <h1>Welcome to PropertyConnects</h1>
    <h3>
        A centralized space where you can view your properties with location-specific weather-related home maintenance tasks & reminders. In addition, the Community Dashboard allows neighbors to share information and resources, fostering collaboration among homeowners.
    </h3>
    </div>
    <div class="video-container">
    <video autoplay muted loop class="vid">
        <source src="/img/video.mp4">
    </video>
    </div>
</main>
<footer th:replace="partials :: footer"></footer>
<div th:replace="partials :: boot-scripts"></div>
</body>
</html>