<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head ('Home Page')"><title></title></head>
<body id="home" class="main-bg main-container">
<nav th:replace="partials :: navbar"></nav>

<main class="container-home">
    <h1>Welcome to PropertyConnects</h1>
    <h3>
        A centralized space where you can view your properties and weather-related home maintenance tasks specific to
        your area. We also provide a place where neighbors can connect to receive trusted information and give and get
        help.
    </h3>
</main>
<footer th:replace="partials :: footer"></footer>
<div th:replace="partials :: boot-scripts"></div>
</body>
</html>